<!doctype html>
<html lang="en">
<head>
    <title>keyGENIE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/signinstyle.css">
    <script src="https://kit.fontawesome.com/d76f7371d8.js" crossorigin="anonymous"></script>
</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">keyGENIE Archive</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="d-flex">
                        <div class="w-100">
                            <h3 class="mb-4">Sign In</h3>
                        </div>
                        <div class="w-100">
                            <p class="social-media d-flex justify-content-end">
                                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                                        class="fa fa-facebook"></span></a>
                                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                                        class="fa fa-twitter"></span></a>
                            </p>
                        </div>
                    </div>
                    <form action="/members/login" class="login-form" method="post">
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-user"></span></div>
                            <input type="email" name="email" class="form-control rounded-left" placeholder="email" required>
                        </div>
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-lock"></span></div>
                            <input type="password" name="password" id="password" class="form-control rounded-left" placeholder="Password" required>
                        </div>
                        <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
                        <div class="form-group row">
                            <input type="submit" class="btn btn-primary col ml-3 mr-3" value="Login"></input>
                        </div>
                        <div class="form-group mt-4">
                            <div class="w-100 text-center">
                                <p class="mb-1">Don't have an account? <a href="#" class="signin">Sign Up</a></p>
                                <p><a href="#" class="passwordReset">Forgot Password</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 회원 가입을 위한 모달 창 -->
<div class="memberModal modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <form class="login-form" method="post">
                    <!-- email 입력 -->
                    <div class="form-group mb-3">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="fa-solid fa-envelope"></span></div>
                        <input type="email" name="email" class="form-control" placeholder="Enter email here...">
                    </div>
                    <!-- password 입력 -->
                    <div class="form-group mb-3 password">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="fa-solid fa-key"></span></div>
                        <input type="password" class="form-control" name="password"
                               placeholder="Enter password here...">
                    </div>
                    <div class="form-group mb-3 checkPW">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="fa-solid fa-key"></span></div>
                        <input type="password" class="form-control" name="checkPW"
                               placeholder="Repeat password here...">
                    </div>
                    <!-- Nickname 입력 -->
                    <div class="form-group mb-3">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="fa-solid fa-user-plus"></span></div>
                        <input type="text" class="form-control" name="nickName" placeholder="Enter nickname here...">
                    </div>
                    <!-- Birthday 입력 -->
                    <div class="form-group mb-3">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="fa-solid fa-cake-candles"></span></div>
                        <input type="date" class="form-control" name="birthday">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submitBtn">Submit</button>
                <button type="button" class="btn btn-warning modifyBtn">Modify</button>
                <button type="button" class="btn btn-secondary closeBtn">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

<script>
    let memberModal = $(".memberModal");
    let inputEmail = $('input[name="email"]');
    let inputPassword = $('input[name="password"]')
    let inputCheckPW = $('input[name="checkPW"]')
    let inputNickname = $('input[name="nickname"]')
    let inputBirthday = $('input[name="birthday"]')


    $(".signin").on("click", function() {
        $('.modal-title').text("회원가입");//documentation 에 추가!!
        inputEmail.val("");
        inputPassword.val("");
        inputCheckPW.val("");
        inputNickname.val("");
        inputBirthday.val("");
        $(".modifyBtn").hide();
        $(".submitBtn").show();
        $('.memberModal').modal('show');
    });

    $(".passwordReset").on("click", function() {
        $('.modal-title').text("비밀번호 재설정");//documentation 에 추가!!
        inputEmail.val("");
        inputCheckPW.val("");
        inputNickname.val("");
        inputBirthday.val("");
        $(".password").hide();
        $(".checkPW").hide();
        $(".modifyBtn").hide();
        $(".submitBtn").show();
        $('.memberModal').modal('show');
    });

    $(".submitBtn").on("click", function () {
        alert("입력한 데이터를 확인하고 ajax를 이용한 REST API 로 콘트롤러로 보낼 준비를 시작하자!")
        // var data = {
        //     title: inputTitle.val(),
        //     description: inputDescription.val(),
        //     location: inputLocation.val(),
        //     priority: priority,
        //     allDay: arg.allDay,
        //     start: timeToString(arg.start),
        //     end: timeToString(arg.end)
        // };
        // console.log("data_save: ", data)
        // if (data.title) {
        //     $.ajax({
        //         url: '/calendar/register',
        //         type: "POST",
        //         data: JSON.stringify(data),
        //         contentType: "application/json; charset=utf-8",
        //         dataType: "text",
        //         error: function (result) {
        //             console.log("fail: ", result);
        //         },
        //         success: function (result) {
        //             console.log("result of Registering: ", result);
        //             calendar.addEvent(JSON.parse(result));
        //         },
        //     });
        //     planModal.modal('hide');
        // } else {
        //     alert("Title 에 내용을 입력 하여 주세요.")
        // }
        memberModal.modal('hide');
    });

    $(".closeBtn").on("click", function () {
        memberModal.modal('hide');
    });
</script>

</body>
</html>

