<!doctype html>
<html lang="en">
<head>
    <title>keyGENIE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/signinstyle.css">
    <script src="https://kit.fontawesome.com/d76f7371d8.js" crossorigin="anonymous"></script>
</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">keyGENIE Archive</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="d-flex">
                        <div class="w-100">
                            <h3 class="mb-4">Sign In</h3>
                        </div>
                        <div class="w-100">
                            <p class="social-media d-flex justify-content-end">
                                <a href="/oauth2/authorization/google" class="social-icon d-flex align-items-center justify-content-center"><span
                                        class="fa-brands fa-google"></span></a>
                                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                                        class="fa fa-twitter"></span></a>
                            </p>
                        </div>
                    </div>
                    <form action="/members/login" class="login-form" method="post">
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-user"></span></div>
                            <input type="email" name="email" class="form-control rounded-left" placeholder="email" required>
                        </div>
                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-lock"></span></div>
                            <input type="password" name="password" id="password" class="form-control rounded-left" placeholder="Password" required>
                        </div>
                        <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
                        <div class="form-group row">
                            <input type="submit" class="btn btn-primary col ml-3 mr-3" value="Login">
                        </div>
                        <div class="form-group mt-4">
                            <div class="w-100 text-center">
                                <p class="mb-1">Don't have an account? <a href="#" class="signin">Sign Up</a></p>
                                <p><a href="#" class="passwordReset">Forgot Password</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 회원 가입을 위한 모달 창 -->
<div class="memberModal modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <form action="/register" method="post">
                    <!-- email 입력 -->
                    <div class="form-group mb-3">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="fa-solid fa-envelope"></span></div>
                        <input type="email" name="userEmail" class="form-control" placeholder="Enter email here..." required>
                    </div>
                    <!-- password 입력 -->
                    <div class="form-group mb-3 password">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="fa-solid fa-key"></span></div>
                        <input type="password" class="form-control" name="userPassword" placeholder="Enter password here..." required>
                    </div>
                    <div class="form-group mb-3 checkPW">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="fa-solid fa-key"></span></div>
                        <input type="password" class="form-control" name="checkPW" placeholder="Repeat password here...">
                    </div>
                    <!-- Nickname 입력 -->
                    <div class="form-group mb-3">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="fa-solid fa-user-plus"></span></div>
                        <input type="text" class="form-control" name="nickname" placeholder="Enter nickname here..." required>
                    </div>
                    <!-- Birthday 입력 -->
                    <div class="form-group mb-3">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="fa-solid fa-cake-candles"></span></div>
                        <input type="date" class="form-control" name="birthday" required>
                    </div>
                    <p class="registerError"></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submitBtn">Submit</button>
                <button type="button" class="btn btn-secondary closeBtn">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

<script>
    let memberModal = $(".memberModal");
    let inputEmail = $('input[name="userEmail"]');
    let inputPassword = $('input[name="userPassword"]')
    let inputCheckPW = $('input[name="checkPW"]')
    let inputNickname = $('input[name="nickname"]')
    let inputBirthday = $('input[name="birthday"]')


    $(".signin").on("click", function() {
        $('.modal-title').text("회원가입");
        inputEmail.val("");
        inputPassword.val("");
        inputCheckPW.val("");
        inputNickname.val("");
        inputBirthday.val("");
        $('.memberModal').modal('show');
    });

    $(".passwordReset").on("click", function() {
        $('.modal-title').text("비밀번호 재설정");
        inputEmail.val("");
        inputCheckPW.val("");
        inputNickname.val("");
        inputBirthday.val("");
        $(".password").hide();
        $(".checkPW").hide();
        $('.memberModal').modal('show');
    });

    $(".submitBtn").on("click", function () {
        $('.registerError').text("");
        var data = {
            email: inputEmail.val(),
            password: inputPassword.val(),
            checkPW: inputCheckPW.val(),
            nickname: inputNickname.val(),
            birthday: inputBirthday.val()
        };
        // console.log("data: ", data)
        // console.log("length of data: ", Object.keys(data).length)
        // for (let key in data) {
        //     console.log("key: ", key, ", value: ", data[key], "type of value: ", typeof(data[key]), "length of value: ", data[key].length)
        //     console.log("key: ", key, ", value: ", data.key, "type of value: ", typeof(data.key))
        //     console.log("data.key == null: ", data.key == null)
        // }
        for (let key in data) {
            console.log("key: ", key, ", value: ", data[key])
            if (data[key] == null || data[key].length == 0) {
                $('.registerError').text(key + " 은/는 필수입력항목입니다.");
                return false;
            }
        }
        if (inputPassword.val() != inputCheckPW.val()) {
            $('.registerError').text("입력한 비밀번호가 서로 다릅니다.");
        }else {
            $.ajax({
                url: '/register',
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                error: function (result) {
                    console.log("fail: ", result);
                },
                success: function (result) {
                    console.log("result of Registering: ", result);
                    memberModal.modal('hide');
                },
            });
        }
    });

    $(".closeBtn").on("click", function () {
        memberModal.modal('hide');
    });
</script>

</body>
</html>

