<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--layout 파일을 설정-->
<th:block th:replace="~{/layout/base :: setContent(~{this::content} )}">
    <!--layout 에 출력할 내용-->
    <th:block th:fragment="content">

                <div class="container-fluid">

                    <!-- 입력 폼을 생성 -->
                    <h1><br></h1>
                    <h2 class="mt-2 mb-3">등록할 내용을 입력 해 주세요.</h2>
                    <!-- action 안적으면 자기 자신으로! 대신 method 는 꼭 적어줘야 함! -->
                    <!--
                    <form th:action="@{/guestbook/list}" th:method="post">
                    -->
                    <form th:method="post">

                        <!-- 제목 입력 -->
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" name="title" placeholder="Enter Title">
                        </div>

                        <!-- 내용 입력 -->
                        <div class="form-group">
                            <label>Content</label>
                            <textarea class="form-control" rows="5" name="content"></textarea>
                        </div>

                        <!-- 작성자 입력 -->
                        <div class="form-group">
                            <label>Writer</label>
                            <input type="text" class="form-control" name="writer" placeholder="Enter Writer">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>

    </th:block>
</th:block>

</html>