<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--layout 파일을 설정-->
<th:block th:replace="~{/layout/base :: setContent(~{this::content} )}">
    <!--layout 에 출력할 내용-->
    <th:block th:fragment="content">
        <div class="d-flex" id="wrapper">
            <div th:replace="~{layout/spring :: side}"></div>
            <div id="page-content-wrapper">
                <div th:replace="~{layout/spring :: nav}"></div>

                <div class="container-fluid">
                    <h2 class="mt-2 mb-3">Test for Setting Security</h2>
                    <div id="content" class="p-4 p-md-5 pt-5 col">
                        <p>
                            모든 유저가 접근 가능
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut
                            aliquip
                            ex
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore
                            eu
                            fugiat
                            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt
                            mollit
                            anim id est laborum.</p>
                    </div>
                </div>


            </div>
        </div>
        </div>


    </th:block>
</th:block>

</html>