<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--layout 파일을 설정-->
<th:block th:replace="~{/layout/base :: setContent(~{this::content} )}">
    <!--layout 에 출력할 내용-->
    <th:block th:fragment="content">

        <div class="container-fluid">

            <h2 class="mt-5 mb-1">'좋은생각' 곳간
            <small style="color: gray;"><small style="color: darkgrey;"> | The ARCHIVE of </small> "The Art of Thinking"</small></h2>
            <h6 class="mb-5" style="color: darkgrey;">A place I keep a record of my meaningful thought.</h6>

            <div class="row justify-content-center mt-5">
                <div class="col-2">
                    <img src="/images/rToNum.jpg">
                </div>
                <div class="col-6 ml-5 pr-5">
                    <h6>
                    <b style="line-height: 180%;">‘맛’을 만드는 요리사의 손에는<br>
                    ‘맛’이 아닌 ‘칼’이 들려있다.<br><br>

                    ‘멋’을 만드는 디자이너의 손에는<br>
                    ‘멋’이 아닌 ‘펜’이 들려있다.<br><br>

                    ‘생각’ 역시 ‘맛’과 ‘멋’처럼 실체가 없다.<br>
                    따라서, 그것을 완성하기 해서는<br>
                    ‘칼’과 ‘펜’과 같은 도구가 필요하다.<br><br>

                    먼지처럼 흩뿌려진 현실의 조각을 모아 ‘글’을 쓰자.<br><br>

                    그것을 뭉쳐 ‘수’라는 점만 남기자.<br><br>

                    그러면, 나머지 빈 곳은 모두 ‘생각’으로 채워진다.<br><br><br>
                    </b>
                    </h6>

                    <small>
                        <b>※ 사용한 이미지 편집 툴:</b>
                        <ul>
                            <li> Vector based Tool: <b>Microsoft Visio</b>
                            <li> Pixel based Retouch Tool: <b>Adobe Photoshop</b>
                            <li> HTML Layout: <b>Bootstrap</b>
                        </ul>
                    </small>

                </div>
            </div>
        </div>

    </th:block>
</th:block>
</html>