<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--layout 파일을 설정-->
<th:block th:replace="~{/layout/base :: setContent(~{this::content} )}">
    <!--layout 에 출력할 내용-->
    <th:block th:fragment="content">
        <div class="d-flex" id="wrapper">
            <div th:replace="~{layout/presentation :: side}"></div>
            <div id="page-content-wrapper">
                <div th:replace="~{layout/presentation :: nav}"></div>
                <div class="container-fluid">

                    <h2 class="mt-2 mb-3">Panel Presentation</h2>

                    <div class="btn-group" role="group">
                        <a href="#" type="button" class="btn btn-primary SpaceBtn">Aqua Museum</a>
                        <a href="#" type="button" class="btn btn-primary ">for Guest</a>
                        <a href="#" type="button" class="btn btn-primary">for Member</a>
                        <a href="#" type="button" class="btn btn-primary">for Admin</a>
                    </div>

                    <div id="myDiv"></div>

                    <script>
                        $('.SpaceBtn').on('click', function() {
                            fetch('/txt/space').then(function(response){
                                response.text().then(function(text){
                                    $('#myDiv').html(text);
                                })
                            })
                        });
                    </script>



                </div>
            </div>
        </div>
    </th:block>
</th:block>

</html>