<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--layout 파일을 설정-->
<th:block th:replace="~{/layout/base :: setContent(~{this::content} )}">
    <!--layout 에 출력할 내용-->
    <th:block th:fragment="content">
        <div class="d-flex" id="wrapper">
            <div th:replace="~{layout/about :: side}"></div>
            <div id="page-content-wrapper">
                <div th:replace="~{layout/about :: nav}"></div>
                <div class="container-fluid">

                    <style>
                        .box {
                            width: 240px;
                            height: 180px;
                            border-radius: 15px;
                            overflow: hidden;
                            box-shadow: 3px 3px 3px #c8c8c8;
                        }
                        .profile {
                            object-fit: cover;
                        }
                    </style>

                    <h2 class="mt-2 mb-3">"좋은생각"에 오신것을 환영합니다.</h2>
                    <h4>이 곳을 간략히 소개 해 드립니다.</h4>
                    <h6>새로생긴 왼편의 side-bar 를 이용하여 더 자세한 정보를 확인하세요. <small>(창이 좁다면, 상단의 'Toggle'버튼으로 이용하세요.)</small></h6>
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col">
                                <h4>※ 생각이란?</h4>

                                <h6>TEXT</h6>
                                <div class="ml-3 mt-3">
                                    <p>글은 모든 생각의 바탕. 단순명료하게!</p>
                                </div>

                                <br>
                                <h6>SKETCH <small>(단순한 낙서도 의미가 없지만은 않습니다.)</small></h6>
                                <div class="box mb-2" style="background: #BDBDBD;" width="400" height="300">
                                    <img class="profile mb-2" src="">
                                </div>

                                <br>
                                <h6>저쩌구 <small>(어떠한 정보를 어떻게 배치할지 고민해보자!)</small></h6>
                                <div class="box" style="background: #BDBDBD;" width="400" height="300">
                                    <img class="profile" src="">
                                </div>
                                <div class="ml-3 mt-3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                                </div>

                            </div>
                            <div class="col">
                                <h4>※ 현실은 3차원, 그 이상!</h4>
                                <h6>'생각' -> '현실'</h6>
                                <ul>
                                    <li>결과적으로 3차원 이상의 공간에서 결과물을 내어야 합니다.
                                    <li>하지만, 3차원 이상의 공간을 상상하는 것은 어렵죠.
                                    <li>따라서, 그것을 도와줄 수 있는 다양한 도구를 익혀야 합니다.
                                </ul>
                                <video muted autoplay loop height="300" width="200">
                                    <source src="/images/anime_3d.mp4" type="video/mp4">
                                    this browser does not support this kind of animation.
                                </video><br>
                                <small>
                                    <b>※ 사용한 도구:</b>
                                    <ul>
                                        <li> 3D Modeling Tool: <b>form Z</b>
                                        <li> Mapping & Rendering Tool: <b>V-ray</b>
                                        <li> Video editing Tool: <b>Adobe Premiere</b>
                                    </ul>
                                </small>

                            </div>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </th:block>
</th:block>

</html>